In [1]:
import cufflinks as cf
df = cf.datagen.lines()

In [3]:
df.head()

              STG.VS    IWX.MU    DYF.MF    OUN.OU    HEK.SN
2015-01-01  2.506957  0.773513 -0.830740 -0.968138  0.075495
2015-01-02  3.964426  1.782871 -0.794572 -0.317628  0.942482
2015-01-03  5.324884  2.349412 -2.410570 -1.277554  0.852604
2015-01-04  5.087623  3.138875 -2.701766 -0.400405  2.617219
2015-01-05  4.375561  4.570877 -2.159254 -0.854282  1.077191

In [4]:
df['date'] = df.index

In [5]:
df.head()

              STG.VS    IWX.MU    DYF.MF    OUN.OU    HEK.SN       date
2015-01-01  2.506957  0.773513 -0.830740 -0.968138  0.075495 2015-01-01
2015-01-02  3.964426  1.782871 -0.794572 -0.317628  0.942482 2015-01-02
2015-01-03  5.324884  2.349412 -2.410570 -1.277554  0.852604 2015-01-03
2015-01-04  5.087623  3.138875 -2.701766 -0.400405  2.617219 2015-01-04
2015-01-05  4.375561  4.570877 -2.159254 -0.854282  1.077191 2015-01-05